.header{
    margin: 92px 24px 96px 24px;
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    align-items: center;
    padding: 0 26px 0 27px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.header__menu{
    max-width: 392px;
    width: 100%;
}

.header__links-list{
    display: flex;
    justify-content: space-between;
    gap: 13px;
    list-style-type: circle;
    font-size: 18px;
    font-weight: normal;
}

.header__links-list-item_no-bullit{
    list-style-type: none;
}

.menu__link_active{
    text-decoration: none;
}

.logo-link{
    display: block;
    height: 105px;
    width: 148px;
    /* margin: 0 184px 0 36px; */
}

.logo-img{
    height: 105px;
}

.address{
    max-width: 240px;
    width: 100%;
    justify-self: end;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: normal;
    line-height: 24.3px;
    letter-spacing: 1%;
}


.cover{
    min-height: 757px;
    padding: 165px 50px 51px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

.cover__title{
    margin-bottom: 121px;
    color: #fff;
    text-transform: uppercase;
    line-height: 126%;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 30px;
}

.aligned-text{
    display: block;
    line-height: 115%;
}

.aligned-text_center{
    display: block;
    text-align: center;
}

.aligned-text_right{
    display: block;
    text-align: right;
}

.letter-spacing-extended{
    letter-spacing: 60px;
}

.no-letter-spacing{
    letter-spacing: 0px;
}

.cover__description{
    min-height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    text-transform: uppercase;
    color: #fff;
}

.cover__description-text{
    font-weight: normal;
    line-height: 28px;
    font-size: 22px;
    word-spacing: 18px;
}

.bet-button{
    width: 257px;
    height: 51px;
    padding: 12px 32px;
    background-color: transparent;
    font-weight: normal;
    font-size: 22px;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
}